<div id="mw-nearby-pages"></div>
<noscript>
<div class="content-unstyled">
    <div class="messagebox errorbox">
        <h2>{{noscript-heading}}</h2>
        <p>{{noscript-text}}</p>
    </div>
</div>
</noscript>