<div id="mw-nearby-pages" class="mw-nearby-pages">
    <div class="mw-nearby-pages__image-info"></div>
    <h3 class="mw-nearby-pages__image-info__heading">{{heading}}</h3>
    <div class="mw-nearby-pages__image-info__description">{{description}}</div>
    <div class="mw-nearby-pages__image-info__button-container">
        <button id="mw-nearby-pages__activate" class="mw-ui-button mw-ui-progressive" disabled>
        {{button}}
        </button>
    </div>
</div>
<noscript>
<div class="content-unstyled">
    <div class="messagebox errorbox">
        <h2>{{noscript-heading}}</h2>
        <p>{{noscript-text}}</p>
    </div>
</div>
</noscript>