<!DOCTYPE HTML>
<html class="client-nojs">
    <head>
        <link rel="stylesheet" href="https://en.wikipedia.org/w/load.php?lang=en-gb&modules=mediawiki.ui.button|mediawiki.legacy.shared|skins.vector.styles&only=styles&skin=vector">
        <link rel="stylesheet" href="../resources/ext.nearby.styles/index.less">
        <style>
            .mw-nearby-pages__image-info {
                background-image: url(../resources/ext.nearby.images/article-illustration.svg)
            }
        </style>
    </head>
    <body>
        <script>document.documentElement.className="client-js";</script>
        {{{html-body}}}
        <script src="./jquery.js"></script>
        <script src="./mw.js"></script>
        <script src="../resources/ext.nearby.scripts/index.js"></script>
    </body>
</html>